@model IEnumerable<Agent_Portal.Models.Agent>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AgentCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AgentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WorkingArea)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Commission)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AgentCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AgentName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WorkingArea)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PhoneNo)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
